.form-group{
    line-height: 2em;
}
label{ 
    font-size: 20px;
}
#enter-show{ 
    font-size: 10px;
    width: 60%;
}
form{
    margin: 30px;
}
#button-well{
    display: inline;
    padding: 10px;
    margin: 1px;
}
/* button{ 
    padding-left: 4px;
    margin: 200px;
} */